#main{
	width: 200px;
	
}
#update1,#update2{
	float: right;
	margin: 7px 0;
}
#word0{
	position: absolute;
	top:4px;
	left: -1px;
}
#word1{
	position: absolute;
	top: 31px;
}
#word2{
	position: absolute;
	top:20px;
	left: -149px;
}
#inputAccountExample1,#inputAccountExample2,#inputAccountExample0{
	width: 150px;
	float: left;
	margin: 3px 0;
}
#update{
	float: right;
	margin: 7px 0;
}
#switch1,#switch2{
	float: right;
	width: 145px;
	margin: 0 6px;
}
